<h1><%= @restaurant.name %></h1>
<p><%= link_to "Add Dish", "/restaurants/#{@restaurant.id}/dishes/new" %></p>

<% @dishes.each do |dish| %>
  <h3><%= dish.name %> <%= link_to "Update #{dish.name}", "/dishes/#{dish.id}/edit" %></h3>
  <p>Id: <%= dish.id %></p>
  <p>Restaurant_id: <%= dish.restaurant_id %></p>
  <p>Price: <%= dish.price %></p>
  <p>Hot: <%= dish.hot %></p>
  <p>Created_at: <%= dish.created_at %></p>
  <p>Updated_at: <%= dish.updated_at %></p>
  <% end %>
  
<p><%= link_to "Sort", "/restaurants/#{@restaurant.id}/dishes?sorted=true" %></p>