<%= form_with url: "/restaurants/#{@restaurant.id}/dishes", method: :post, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p><br/>
  <p><%= form.label :price %>
  <%= form.text_field :price %></p><br/>
  <p><%= form.label :hot %>
  <%= form.text_field :hot %></p><br/>
  <p><%= form.submit "Create Dish" %></p>
<% end %>