<%= form_with url: "/dishes/#{@dish.id}/", method: :patch, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name, :value=> "#{@dish.name}" %></p><br/>
  <p><%= form.label :price %>
  <%= form.text_field :price, :value=> "#{@dish.price}" %></p><br/>
  <p><%= form.label :hot %>
  <%= form.text_field :hot, :value=> "#{@dish.hot}" %></p><br/>
  <%= form.submit "Update Dish" %>
<% end %>