<h1><%= @dish.name %></h1>
<p>Id: <%= @dish.id %></p>
<p>Restaurant_id: <%= @dish.restaurant_id %></p>
<p>Price: <%= @dish.price %></p>
<p>Hot: <%= @dish.hot %></p>
<p>Created_at: <%= @dish.created_at %></p>
<p>Updated_at: <%= @dish.updated_at %></p>

<%= link_to "Update Dish", "/dishes/#{@dish.id}/edit" %>