<%= link_to "Dishes", "/dishes" %> | <%= link_to "Restaurants", "/restaurants" %>
<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h3>- <%= restaurant.name %>- Created_at: <%= restaurant.created_at %></h3>
  <% end %>
  
  <%= link_to "New Restaurant", "/restaurants/new" %>