<%= link_to "Dishes", "/dishes" %>
<h1><%= @restaurant.name %></h1>
<p>Dishes: <%= @restaurant.dish_count %></p>
<p>Id: <%= @restaurant.id %></p>
<p>Rating: <%= @restaurant.rating %></p>
<p>Open: <%= @restaurant.open %></p>
<p>Created_at: <%= @restaurant.created_at %></p>
<p>Updated_at: <%= @restaurant.updated_at %></p>
